---
import Gridstyle from "../Gridstyle.astro"
---
<div>
    <div class="grid grid-cols-3 gap-6 mb-6">

        <Gridstyle class=" col-span-2">
            <div class=" w-full">
                <h2 class="text-left flex gap-2 items-center text-balance text-base md:text-xl lg:text-3xl font-semibold tracking-[-0.015em] text-white">
                    <img class=" pb-1" src="https://raw.githubusercontent.com/Tarikul-Islam-Anik/Animated-Fluent-Emojis/master/Emojis/Objects/Briefcase.png" alt="Briefcase" width="35" height="35" /> 
                    <span>En el trabajo</span>
                </h2>
                <p class="mt-4 text-left text-lg text-neutral-200">
                    Llevo +2 años programando, explorando mi pasión por el desarrollo web a través de proyectos personales. 
                    
                </p>
                <p class=" text-lg mt-4">
                    También participe
                    la simulación laboral de No Country por 2 meses, la cual desarrollé y mejoré habilidades en Javascript, React, Next.js, Tailwind CSS,  
                    trabajando en equipo para crear soluciones creativas e innovadoras.  ¡Entusiasmado por seguir aprendiendo y afrontar nuevos retos!
                </p>
            </div>
            <div class=" relative">
                <img
                    src="/images/Snap.webp"
                    width={550}
                    height={550}
                    alt="linear demo image"
                    class=" mx-auto rounded-2xl mt-6"
                />
                <div class="absolute inset-0 bg-gradient-to-b from-transparent to-black "></div>
            </div>
        </Gridstyle>
        <Gridstyle>

        </Gridstyle>
    </div>
    
    <div class="grid grid-cols-3 gap-6">
        <Gridstyle>
            
        </Gridstyle>
        <Gridstyle class="col-span-2">

        </Gridstyle>
    </div>
</div>