---
interface Props {
    date: string;
    title: string;
    description: string;
}

const { date, title, description } = Astro.props;
---

<div
    class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-[#E899DC]"
>
</div>

<time class="mb-1 text-md font-normal leading-none text-gray-500">{date}</time>
<h3 class="text-2xl font-semibold text-[#E899DC]">{title}</h3>
<p class="mb-4 text-lg font-normal text-white">{description}</p>
