<footer class=" text-sm w-full lg:max-w-6xl p-4 mx-auto mb-10 mt-10 flex flex-col sm:flex-row sm:justify-between items-center">
    <div class=" w-full flex items-center sm:justify-start gap-1 flex-col sm:flex-row">
        <span class=" text-white">Hecho con ❤️ por <span class=" text-[#FFAEFF]">Juan Diego </span> </span>
        <span> desarrollado con Astro y React.</span>
    </div>
    <div class=" mt-8 sm:mt-0">
        <ul class="flex">
            <li class="px-2">
                <a href="#Inicio" class="text-white hover:text-[#FFAEFF] transition-all">Inicio</a>
            </li>
            <li class="px-2">
                <a href="#Experiencia" class="text-white hover:text-[#FFAEFF] transition-all">Experiencia</a>
            </li>
            <li class=" px-2">
                <a href="#Proyectos" class="text-white hover:text-[#FFAEFF] transition-all">Proyectos</a>
            </li>
            <li class=" px-2">
                <a href="#Skills" class="text-white hover:text-[#FFAEFF] transition-all">Skills</a>
            </li>
        </ul>
    </div>
</footer>