<footer class=" text-sm w-max p-4 mx-auto mb-10 mt-20 flex flex-col sm:flex-row sm:justify-between items-center sm:gap-80">
    <div class=" flex justify-start">
        <span class=" text-[#FFAEFF]">Hecho con ❤️ por Juan Diego</span>
    </div>
    <div class=" mt-4 sm:mt-0">
        <ul class="flex">
            <li class="px-2">
                <a href="#Inicio" class="text-white hover:text-[#FFAEFF] transition-all">Inicio</a>
            </li>
            <li class="px-2">
                <a href="#Experiencia" class="text-white hover:text-[#FFAEFF] transition-all">Experiencia</a>
            </li>
            <li class=" px-2">
                <a href="#Proyectos" class="text-white hover:text-[#FFAEFF] transition-all">Proyectos</a>
            </li>
            <li class=" px-2">
                <a href="#Skills" class="text-white hover:text-[#FFAEFF] transition-all">Skills</a>
            </li>
        </ul>
    </div>
</footer>