<footer class=" text-sm max-w-6xl px-4 mx-auto my-8 flex flex-col sm:flex-row sm:justify-between  items-center">
    <div class="">
        <span class=" text-[#E899DC]">© 2024 Juan Diego - Todos los derechos reservados</span>
    </div>
    <div class=" mt-4 sm:mt-0">
        <ul class="flex">
            <li class="px-2 transition-all">
                <a href="#Inicio" class="text-white hover:text-[#E899DC] transition-all">Inicio</a>
            </li>
            <li class="px-2">
                <a href="#Proyectos" class="text-white hover:text-[#E899DC] transition-all">Proyectos</a>
            </li>
            <li class=" px-2">
                <a href="#" class="text-white hover:text-[#E899DC] transition-all">Experiencia</a>
            </li>
        </ul>
    </div>
</footer>