---
import '../../styles/header.css';
---
<header class=" px-4 max-w-5xl container mx-auto mt-3 text-white/80 animate-fade-down animate-once animate-delay-100 animate-ease-in-out">
    
    <div class=" flex justify-between items-center">
        <nav class=" rounded-b-lg list-none items-center sm:flex hidden text-base font-medium py-2 px-4 gap-8">
            <a href="#Inicio">Inicio</a>
            <a href="#Experiencia" >Experiencia</a>
            <a href="#Proyectos" >Proyectos</a>
            <a href="#Sobremi" >Sobre mi</a>
            <span></span>
        </nav>

        <!-- <div class=" flex items-center gap-2">
            <button><img src="translate.svg" alt="" class=" size-6 fill-white"></button>
            Menu de idiomas
            <div class="flex items-center gap-2">
                <img src="es.svg" class="w-6" alt="Español">
                <img src="en.svg" class="w-6" alt="Inglés">
            </div>
        </div> -->

        <!-- Navbar Menú Hamburguer -->
        <label class="hamburger sm:hidden cursor-pointer p-1 rounded-lg bg-white/5" for="menuToggle">
            <input type="checkbox" id="menuToggle" class="hidden lg:hidden">
            <svg viewBox="0 0 32 32">
                <path class="line line-top-bottom" d="M27 10 13 10C10.8 10 9 8.2 9 6 9 3.5 10.8 2 13 2 15.2 2 17 3.8 17 6L17 26C17 28.2 18.8 30 21 30 23.2 30 25 28.2 25 26 25 23.8 23.2 22 21 22L7 22"></path>
                <path class="line" d="M7 16 27 16"></path>
            </svg>
        </label>
    </div>
    <div id="menu" class=" my-2 " >
        <ul class="list-none flex flex-col items-center bg-white/5 rounded-md animate-fade-down animate-duration-200">
            <li class=" font-medium text-xl py-2"><a href="#Inicio">Inicio</a></li>
            <li class=" font-medium text-xl py-2"><a href="#Proyectos">Proyectos</a></li>
            <li class=" font-medium text-xl py-2"><a href="#Experiencia">Experiencia</a></li>
            <li class=" font-medium text-xl py-2"><a href="#Skills">Skills</a></li>
        </ul>
    </div>
</header>

<script type="module">
    const btn = document.querySelector('#menuToggle');
    const menu = document.querySelector('#menu');
        menu.style.display = 'none';
    
        btn.addEventListener('click', () => {
        if (menu.style.display === 'none') {
        menu.style.display = 'block';
        } else {
        menu.style.display = 'none';
        }
    });
        window.addEventListener('resize', () => {
        if (window.innerWidth > 640) {
        menu.style.display = 'none';
        }
    });
</script>