---
import Layout from '../layouts/Layout.astro';
import Presentacion from '../components/Layout/Presentacion.astro'
import '@fontsource-variable/onest';
import SectionContainer from "../components/SectionContainer.astro"
import Projects from "../components/Layout/Projects.astro"
import 'animate.css';
---

<Layout 
title="Portafolio de Juan Diego" 
description='¿Quieres crear un sitio web interactivo, creativo y escalable? Estás en el lugar correcto.'>

	<SectionContainer id="Inicio" class="animate__animated animate__fadeInUp flex flex-col-reverse lg:flex-row lg:gap-6 mt-8">
		<Presentacion/>
	</SectionContainer>

	<SectionContainer id="Proyectos" class=" my-16 p-4 animate__animated animate__fadeInUp">

		<h2 class=" text-3xl font-semibold mb-6 flex gap-x-3 items-center">
			<img src="code.svg" alt="">Proyectos
		</h2>

		<article class=" flex flex-col sm:flex-row justify-between gap-6">
			<Projects
				title='Songlit - Biblioteca de Artistas, Albúmes y Canciones'
				description='Biblioteca de artistas, albúmes y canciones. Creada desde cero con HTML, CSS y Javascript vanilla.'
				image='images/Songlit.webp'
				link='https://juanshiu.github.io/Proyecto-final/index.html'
				tagsToShow={['HTML', 'CSS', 'JAVASCRIPT']}
			/>
			<Projects
				title='Clon Twitter'
				description='Replica de la página oficial de Twitter. Creada desde cero con HTML, CSS y Javascript vanilla.'
				image='images/Twitter.webp'
				link='https://x-usco.000webhostapp.com/'
				tagsToShow={['HTML', 'CSS', 'JAVASCRIPT']}
			/>
		</article>
	</SectionContainer>
</Layout>

<style>
	:root {
	--animate-duration: 1300ms;
	--animate-delay: 0.5s;
	}
</style>