
<a
  class={`
  bg-white/5 text-white/55
    border border-white/20 rounded-full
    flex justify-center items-center gap-x-2
    py-1 px-2 md:py-1 md:px-3 text-base transition
    hover:scale-110 hover:bg-white/10
    hover:text-white/80
  `}
  {...Astro.props}
>
  <slot />
</a>