---
const {href} = Astro.props;
---

<a
  href={href}
  target="_blank"
  class="inline-flex items-center justify-center text-lg focus-visible:outline-none 
    focus-visible:ring-2 focus-visible:ring-ring disabled:opacity-50 disabled:cursor-not-allowed 
    ring-offset-background bg-primary text-primary-foreground hover:bg-primary/90 h-10 group relative w-fit 
    overflow-hidden rounded-xl bg-gradient-to-bl from-yellow-400 via-violet-400 to-cyan-400 
    p-[2px] font-bold transition-all duration-300 hover:rounded-2xl active:rounded-xl active:duration-150 hover:scale-110"
  >
  <span
    class="inline-flex h-full w-fit items-center gap-1 rounded-[10px] bg-black/70 p-2 text-white transition-all 
    duration-300 group-hover:rounded-2xl group-hover:bg-white/0 group-hover:text-black"
    >
      <slot></slot>
    </span>
  </a
>