---
const { class: className } = Astro.props
---
<div class=` ${className} h-[29.5rem] rounded-xl bg-black border border-green-400/20 shadow-lg shadow-green-500/10 overflow-hidden p-8`>
    <slot/>
</div>
